.homePage{
    padding: 2vh 10vw;
    display: flex;

}

.aboutContainer *, .aboutContainer{
    background-color: #1e1e1f;
}
.aboutContainer {
    margin-left: 2vw;
    width: 66vw;
    height: auto;
    color: #f1f1f1;
    overflow: hidden;
    border-radius: 15px;
    padding: 4vmin 5vmin
}
.aboutMeContainer{
    width: 100%;
}
.whatImDoingContainer{
    display: flex;
    margin-top: 2.5vh;
    flex-wrap: wrap;
}
.overviewCardContainer{
    display: flex;
    width: 43%;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
    border-radius: 15px;
    padding: 2vmin 2vmin;
    margin: 1vmin 2vmin 1vmin 0;
}

.pageTitle{
    font-size: 3vmin;
    font-weight: 500;
    letter-spacing: -0.8px;
    margin-top: 2vh;

}
.overviewIcon{
    width: 15%;
    height: auto;
    overflow: hidden;
    border-radius: 10px;
    margin: auto;
    align-items: center;
    justify-content: center;
    padding: 1vmin 1.4vmin;
}
.overviewIcon img{
    width: 100%;
    height: auto;
    margin: 0;
}
.sub{
    flex-direction: column;
    width: 85%;
    overflow: hidden;
    text-wrap: wrap;
}
.title, .desc{
    font-size: 1.5vmin;
    padding: 0;
    margin: 0;
}
.title{
    width: 100%;
    font-weight: 500;
    font-size: 2vmin;
    letter-spacing: -1px;
}
.titleAccent{
    border-color: #eecd6a;
    width: 4%;
    height: 5px;
    background-color: #eecd6a;
    border-radius: 5px;
    margin: 1vh 0;
    
}
.aboutContent{
    width: 100%;
    overflow: hidden;
    
}
.aboutContent p {
    font-size: 1.7vmin;
    text-wrap: wrap;
    color: #a3a3a3;
    
}
.desc{
    width: 100%;
    font-size: 1.5vmin;
    color: #a3a3a3;
}